### For install use

In [ ]:
#pip install pyspark

In [1]:
# to know about your cores
import os
print("Number of CPU cores:", os.cpu_count())

Number of CPU cores: 8

### How to intialize SparkSession

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("myapp").master("local[*]").getOrCreate()  # Use all CPU cores as we used local[*]
print(spark.sparkContext)

25/02/10 21:37:40 WARN Utils: Your hostname, prashant-saxena-HP-Pavilion-Gaming-Laptop-15-dk2xxx resolves to a loopback address: 127.0.1.1; using 192.168.1.7 instead (on interface wlo1)
25/02/10 21:37:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/10 21:37:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

<SparkContext master=local[*] appName=myapp>

In [ ]:
# when you are running in cluster mode then you need cluster manager as yarn or kubernets 
# spark = SparkSession.builder.appName("MyApp").master("yarn").getOrCreate()

In [4]:
# from pyspark.sql import SparkSession

# # Initialize SparkSession with increased memory and timeout
# spark = SparkSession.builder.appName("MyApp").master("local[2]").config("spark.driver.memory", "4g").config("spark.executor.memory", "4g").config("spark.network.timeout", "600s").config("spark.ui.port", "4050").getOrCreate()

# # Test Spark
# df = spark.createDataFrame([(1, "Alice"), (2, "Bob")], ["id", "name"])
# df.show()

# # Stop SparkSession
# spark.stop()

In [5]:
# spark = SparkSession.builder.appName("myapp").master("local[*]").config("spark.driver.memory", "4g").config("spark.executor.memory", "4g").getOrCreate()

In [55]:
# if there is any warning related to timeout an or hertbeastInternval
# spark = SparkSession.builder \
#     .appName("MyApp") \
#     .master("local[*]") \
#     .config("spark.network.timeout", "600s") \  # Increase network timeout
#     .config("spark.executor.heartbeatInterval", "60s") \  # Increase heartbeat interval
#     .getOrCreate()

In [ ]:
# Close the SparkSession
# spark.stop()

### RDD Basics

Create an RDD from a list and perform operations.

In [8]:
data = [1,2,3,4,5,6,7,8,9]
rdd= spark.sparkContext.parallelize(data) # RDD: Like a distributed list across multiple machines.

In [9]:
rdd.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
squared_rdd= rdd.map(lambda x :x**2)

In [11]:
squared_rdd.collect()

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
filter_rdd=rdd.filter(lambda x: x>3)

In [13]:
filter_rdd.collect()

[4, 5, 6, 7, 8, 9]

In [14]:
# Use filter() to keep only even numbers.
rdd.filter(lambda x: x%2==0).collect()

[2, 4, 6, 8]

In [15]:
filter_rdd.count()

6

In [16]:
rdd.reduce(lambda a,b:a+b)

45


Create an RDD of strings and use map() to convert them to uppercase.

In [17]:
names= ['abhay','prashant','vinay','vikarant']

name_rdd= spark.sparkContext.parallelize(names)

In [18]:
name_rdd.collect()

['abhay', 'prashant', 'vinay', 'vikarant']

In [ ]:
name_rdd

## DataFrames & Spark SQL

### How to create dataframe

In [16]:
data =[('alice',48),('abhya',42),('prashant',40),('vinay',41) ]
columns=['name','age']

In [17]:
df=spark.createDataFrame(data,columns)

In [18]:
df.collect()

[Row(name='alice', age=48),
 Row(name='abhya', age=42),
 Row(name='prashant', age=40),
 Row(name='vinay', age=41)]

In [11]:
import pandas as pd

In [15]:
pd.read_csv('/home/prashant-saxena/Downloads/organizations-100.csv')

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870
...,...,...,...,...,...,...,...,...,...
95,96,0a0bfFbBbB8eC7c,Holmes Group,https://mcdowell.org/,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988
96,97,BA6Cd9Dae2Efd62,Good Ltd,http://duffy.com/,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292
97,98,E7df80C60Abd7f9,Clements-Espinoza,http://www.flowers.net/,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236
98,99,AFc285dbE2fEd24,Mendez Inc,https://www.burke.net/,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339
99,100,e9eB5A60Cef8354,Watkins-Kaiser,http://www.herring.com/,Togo,Synergistic background access,2009,Financial Services,2785

In [19]:
df=spark.read.csv('/home/prashant-saxena/Downloads/organizations-100.csv')

In [20]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string]

#### 1. show(): Display Data in Tabular Form
#### The most common method to inspect data. By default, it shows 20 rows and truncates long strings.

In [26]:
df.show()

+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
|  _c0|            _c1|                 _c2|                 _c3|                 _c4|                 _c5|    _c6|                 _c7|                _c8|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
|Index|Organization Id|                Name|             Website|             Country|         Description|Founded|            Industry|Number of employees|
|    1|FAB0d41d5b5d22c|         Ferrell LLC|  https://price.net/|    Papua New Guinea|Horizontal empowe...|   1990|            Plastics|               3498|
|    2|6A7EdDEA9FaDC52|Mckinney, Riley a...|http://www.hall-b...|             Finland|User-centric syst...|   2015|Glass / Ceramics ...|               4952|
|    3|0bFED1ADAE4bcC1|          Hester Ltd|http://sullivan-r...|               China|Switchable scalab...|   1971|       Public Safety|               5287|
|    4|2bFC1Be8a4ce42f|      Holder-Sellers| https://becker.com/|        Turkmenistan|De-engineered sys...|   2004|          Automotive|                921|
|    5|9eE8A6a4Eb96C24|         Mayer Group|http://www.brewer...|           Mauritius|Synchronized need...|   1991|      Transportation|               7870|
|    6|cC757116fe1C085|      Henry-Thompson|   http://morse.net/|             Bahamas|Face-to-face well...|   1992|Primary / Seconda...|               4914|
|    7|219233e8aFF1BC3|      Hansen-Everett|https://www.kidd....|            Pakistan|Seamless disinter...|   2018| Publishing Industry|               7832|
|    8|ccc93DCF81a31CD|       Mcintosh-Mora|https://www.brook...|Heard Island and ...|Centralized attit...|   1970|     Import / Export|               4389|
|    9|0B4F93aA06ED03e|            Carr Inc|    http://ross.com/|              Kuwait|Distributed impac...|   1996|            Plastics|               8167|
|   10|738b5aDe6B1C6A5|          Gaines Inc|http://sandoval-h...|          Uzbekistan|Multi-lateral sca...|   1997|Outsourcing / Off...|               9698|
|   11|AE61b8Ffebbc476|          Kidd Group|http://www.lyons....|Bouvet Island (Bo...|Proactive foregro...|   2001|Primary / Seconda...|               7473|
|   12|eb3B7D06cCdD609|        Crane-Clarke|https://www.sando...|             Denmark|Front-line clear-...|   2014|    Food / Beverages|               9011|
|   13|8D0c29189C9798B|Keller, Campos an...|https://www.garne...|             Liberia|Ameliorated direc...|   2020|Museums / Institu...|               2862|
|   14|D2c91cc03CA394c|         Glover-Pope|http://www.silva....|United Arab Emirates|Persevering conte...|   2013|    Medical Practice|               9079|
|   15|C8AC1eaf9C036F4|      Pacheco-Spears|https://aguilar.com/|              Sweden|Secured logistica...|   1984|            Maritime|                769|
|   16|b5D10A14f7a8AfE|         Hodge-Ayers|http://www.archer...|            Honduras|Future-proofed ra...|   1990| Facilities Services|               8508|
|   17|68139b5C4De03B4|Bowers, Guerra an...|http://www.carril...|              Uganda|De-engineered tra...|   1972|Primary / Seconda...|               6986|
|   18|5c2EffEfdba2BdF|     Mckenzie-Melton|http://montoya-th...|           Hong Kong|Reverse-engineere...|   1998|Investment Manage...|               4589|
|   19|ba179F19F7925f5|         Branch-Mann|http://www.lozano...|            Botswana|Adaptive intangib...|   1999|Architecture / Pl...|               7961|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
only showing top 20 rows

What Does truncate=False Do?
Purpose: Controls whether long strings in the DataFrame are truncated (shortened) or displayed in full.

Default Behavior: truncate=True (shortens long text to avoid messy output).

When truncate=False:

Displays the full content of all columns, even if they are very long.

Useful for inspecting data integrity (e.g., checking full URLs, JSON blobs, or sentences).

In [ ]:
# Show first 5 rows without truncation
df.show(n=5, truncate=False)
df.show(n=5,truncate=3) # Truncate columns to 3 characters

+-----+---------------+-----------------------+------------------------------+----------------+----------------------------------------------+-------+---------------------------+-------------------+
|_c0  |_c1            |_c2                    |_c3                           |_c4             |_c5                                           |_c6    |_c7                        |_c8                |
+-----+---------------+-----------------------+------------------------------+----------------+----------------------------------------------+-------+---------------------------+-------------------+
|Index|Organization Id|Name                   |Website                       |Country         |Description                                   |Founded|Industry                   |Number of employees|
|1    |FAB0d41d5b5d22c|Ferrell LLC            |https://price.net/            |Papua New Guinea|Horizontal empowering knowledgebase           |1990   |Plastics                   |3498               |
|2    |6A7EdDEA9FaDC52|Mckinney, Riley and Day|http://www.hall-buchanan.info/|Finland         |User-centric system-worthy leverage           |2015   |Glass / Ceramics / Concrete|4952               |
|3    |0bFED1ADAE4bcC1|Hester Ltd             |http://sullivan-reed.com/     |China           |Switchable scalable moratorium                |1971   |Public Safety              |5287               |
|4    |2bFC1Be8a4ce42f|Holder-Sellers         |https://becker.com/           |Turkmenistan    |De-engineered systemic artificial intelligence|2004   |Automotive                 |921                |
+-----+---------------+-----------------------+------------------------------+----------------+----------------------------------------------+-------+---------------------------+-------------------+
only showing top 5 rows

+---+---+---+---+---+---+---+---+---+
|_c0|_c1|_c2|_c3|_c4|_c5|_c6|_c7|_c8|
+---+---+---+---+---+---+---+---+---+
|Ind|Org|Nam|Web|Cou|Des|Fou|Ind|Num|
|  1|FAB|Fer|htt|Pap|Hor|199|Pla|349|
|  2|6A7|Mck|htt|Fin|Use|201|Gla|495|
|  3|0bF|Hes|htt|Chi|Swi|197|Pub|528|
|  4|2bF|Hol|htt|Tur|De-|200|Aut|921|
+---+---+---+---+---+---+---+---+---+
only showing top 5 rows

In [29]:
# Show vertically (useful for wide columns)
df.show(n=3, vertical=True)

-RECORD 0-------------------
 _c0 | Index
 _c1 | Organization Id
 _c2 | Name
 _c3 | Website
 _c4 | Country
 _c5 | Description
 _c6 | Founded
 _c7 | Industry
 _c8 | Number of employees
-RECORD 1-------------------
 _c0 | 1
 _c1 | FAB0d41d5b5d22c
 _c2 | Ferrell LLC
 _c3 | https://price.net/
 _c4 | Papua New Guinea
 _c5 | Horizontal empowe...
 _c6 | 1990
 _c7 | Plastics
 _c8 | 3498
-RECORD 2-------------------
 _c0 | 2
 _c1 | 6A7EdDEA9FaDC52
 _c2 | Mckinney, Riley a...
 _c3 | http://www.hall-b...
 _c4 | Finland
 _c5 | User-centric syst...
 _c6 | 2015
 _c7 | Glass / Ceramics ...
 _c8 | 4952
only showing top 3 rows

raw_data.show(truncate=10)